@import './mixin';
@import './vars';

/* HEADER */

header{
    @include header-footer;
}

.d-block_img{
    @include sizes(100%, 430px);
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    margin-right: 10px;
}

h1{
    font-size: 35px;
    @include display-justcenter;
}

/* nav */
ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 12px;
    margin: 10px;
    font-weight: 600;
}

a{
    color: black;
    text-decoration: none;

    &:hover{
    color: $c-principal;
    }
}

body{
    margin: 0;
}

/* MAIN */

.img_index{
    @include sizes(100%, 350px);
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    .sn-img{
        @include sizes (100%, 300px);
        margin-bottom: 15px;
    }
}

/* MENU */

.menu{
    font-size: 36px;
    @include display-justcenter;
}

/* LINK NOSOTROS */

.sn-img{
    @include sizes (600px, 400px);
    margin-bottom: 75px;
}

@media only screen and (max-width: 500px) {
    .sn-img{
        @include sizes (400px, 300px);
        margin-bottom: 15px;
    }
}

.sn-p{
    @include fontsize-margin (17px, 15px)
}

@media only screen and (max-width: 500px) {
    .sn-p{
        @include fontsize-margin (12px, 15px)
    }
}

.grid-container-1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

@media only screen and (max-width: 500px) {
    .grid-container-1 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      margin-left: 0px;
    }
}

/* LINK UBICACION */

.p-ubicacion{
    @include fontsize-padding (30px, 10px);
}

.p-LP{
    @include fontsize-margin (18px, 10px);
}

@media only screen and (max-width: 500px) {
    .mapa{
        @include sizes (370px, 450px);
        margin-bottom: 160px;
        margin-top: 20px;
    }
}

/* MEDIOS DE PAGO */

.mp-img{
    @include sizes (500px, 700px);
}

@media only screen and (max-width: 500px) {
    .mp-img {
        @include sizes (370px, 500px);
        margin-bottom: 120px;
    }
}

/* CARDS */

.text{
    @include fontsize-padding (25px, 15px)
}

.tt{
    @include fontsize-padding (20px, 15px)
}

.h4-p{
    font-size:12px;
    display: flex;
    justify-content: center;
    background-color: rgb(8, 19, 11);
    color: beige;
    margin: 0%;
    padding: 4px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    .cards {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      margin: 30px;
      justify-content: space-around;
    }
  }

.card{
    width: 135px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card{
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

.card{
    transition: 2s;
}

.card:hover{
    transform: translate(40px) scale(1);
}

/* FORM */

.form{
    @include display-justcenter;
    align-items: center;
    padding: 50px;
}
.form-email{
    width: 400px;
    height: 30px;
    padding: 5px;
}

.b-email{
    background-color: white;
}

.b-email:hover{
    background-color: bisque;
}

/* PIE DE PAGINA */

.footer{
    @include header-footer;
}

@media only screen and (max-width: 500px) {
    .footer {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
}

.footer img {
    width: 150px;
    margin-right: 10px;
} 

@media only screen and (max-width: 500px) {
    .footer img {
        font-size: 12px;
        margin-right: 30px;
    }
}

.p_pie{
    @include display-justcenter;
}

.nav_footer{
    font-size: 12px;
    margin-left: 15px;
}

@media only screen and (max-width: 500px) {
    .nav_footer {
        font-size: 12px;
        margin-right: 50px;
    }
}

.a_footer{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.a_footer:hover{
    color: $c-principal;
}